<footer class="page-footer indigo darken-4">
  <div class="footer-copyright indigo">
    <div class="container">
      All articles scraped belong to <a href='http://www.theverge.com/tech' target="_blank">The Verge</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>